Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
Flask-CORS==4.0.0
python-dotenv==1.0.1
mysqlclient==2.2.4
bcrypt==4.1.2
PyJWT==2.8.0
Flask-Mail==0.9.1
Flask-Bcrypt==1.0.1
Flask-Admin==1.6.1
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Pillow==10.2.0
pandas==2.2.1
numpy==1.26.4
plotly==5.19.0
gunicorn==21.2.0
python-dateutil==2.8.2
requests==2.31.0
flask
mysql-connector-python